{% extends "base.html" %}

{% block title %}Questionnaire{% endblock %}

{% block content %}

{% if questions_list %}
<form action="" method="post">
    <table>
        {{ form.as_table }}
    </table>
{% csrf_token %}

{% if previous_page_id > 0 %}
    <input type="submit" name="previousPage" value="Previous Page" />
{% endif %}

{% if next_page_id != -1 %}
    <input type="submit" name="nextPage" value="Next Page" />
{% else %}
    <input type="submit" name="viewResults" value="View Results" />
{% endif %}
</form>
{% else %}
No questions available.
{% endif %}

{% endblock %}
