{% extends "base.html" %}

{% block title %}Questionnaire{% endblock %}

{% block content %}
    {% if not page_has_questions %}
        <header>This page has no questions available.</header><br>
    {% endif %}
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}

        {% if previous_page_id > 0 %}
            <input type="submit" name="previousPage" value="Previous Page" />
        {% endif %}

        {% if next_page_id != -1 %}
            <input type="submit" name="nextPage" value="Next Page" />
        {% endif %}
        {% if previous_page_id > 0 and next_page_id == -1 %}
            <input type="submit" name="viewResults" value="View Results" />
        {% endif %}
        {% if previous_page_id == 0 and next_page_id == -1 %}
            <footer><a href="/qstnrs/">Back to Questionnaires list</a></footer>
        {% endif %}
    </form>
{% endblock %}
