{% extends "base.html" %}

{% block title %}Questionnaire{% endblock %}

{% block content %}
    {% if not page_has_questions %}
        <header>This page has no questions available.</header><br>
    {% endif %}
    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}

        {% if has_previous %}
            <input type="submit" name="previousPage" value="Previous Page" />
        {% endif %}

        {% if has_next %}
            <input type="submit" name="nextPage" value="Next Page" />
        {% endif %}
        {% if has_previous and not has_next %}
            <input type="submit" name="viewResults" value="View Results" />
        {% endif %}
        {% if not has_previous and not has_next %}
            <footer><a href={% url qstnrs-index %}>Back to Questionnaires list</a></footer>
        {% endif %}
    </form>
{% endblock %}
